.pr-container {
    width: clamp(75%,50%,calc(45%+5rem));
    max-height: 60%;
    display: grid;
    justify-content: center;
    padding-left: 20%;
    margin-bottom: 3em;
    grid-template-columns: 32rem 50%;
    grid-template-rows: 20% 1fr 1fr 1fr;
    grid-template-areas:
        "img title"
        "img content"
        "img sign"
        "img links";

    .pr-img {
        grid-area: img;
        background: url("../images/defMarco.jpg") no-repeat;
        background-size: cover;
        margin-right: 10%;
        height: 130%;
        max-width: 29rem;
        box-shadow: 0 0 20px 0 black;
        border-radius: 0.4rem;
        
    }
    .pr-title {
        grid-area: title;
        font-family: $open-Sans;
        font-size: clamp(2.5rem,3.3vw,3.5rem);
    }
    .pr-title::after {
        content: "I'm a Student | Max Planck";
        font-size: clamp(0.8rem,1.6vw,1.6rem);
        font-family: $raleway;
        display: block;
    }
    .pr-content {
        margin-top: 5%;
        font-size: clamp(1rem,1vw,1.1rem);
        grid-area: content;
        font-family: $raleway;
        width: 80%;
    }
    .pr-sign {
        grid-area: sign;
        object-fit: contain;
        width: 7rem;
        margin-top: 2rem;
        @media (max-width: 900px) {
            position: absolute;
            top: 59%;
            left: 6.5%;
        }
        @media (max-width: 450px) {
           
            top: 50%;
            left: 6.5%;
        }
    }
    .pr-links {
        grid-area: links;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        width: 60%;
        padding: 2rem;
        @media (max-width: 900px) {
            width: 90%;
        }
        @media (max-width:450px) {
            padding:1rem;
        }
        .link {
            a {
                padding:1em;
                color: $background-white;
            }
        }
        .link:hover,
        .link:focus {
            a {
                color: white;
            }
            transform: scale(1.1);
        }
    }
}

@media (max-width: 900px) {
    .pr-container {
        grid-template-columns: 100%;
        grid-template-rows: 80% 1fr 1fr 1fr;
        grid-template-areas: 
            "title"
            "content"
            "sign"
            "links";
            padding-left: 0%;
    }

    .pr-title {
        padding: 0.5rem;
        background: url("../images/defMarco.jpg") no-repeat;
        background-size: cover;
        
    }
    
    .pr-content{
        padding-top: 0.5rem;
        text-align: center;
        padding-left: 10%;
        
    }

    .pr-sign{
        transform: scale(0.8);
    }
    .pr-links{
        
        transform: scale(0.8);
    }
}
.fp-slidesNav.fp-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}