.container {
    width: 75vw;
    max-height: 60%;
    display: flex;
    align-items: center;
    padding: 2em;

    .glide {
        .glide__track {
            .glide__slides {
                .glide__slide {
                    .container-pr {
                        margin: 5rem;
                        display: grid;
                        width: 100%;
                        height: 100%;
                        grid-template-columns: 40% 100%;
                        grid-template-rows: 25%, 35%, 20%, 20%;
                        grid-template-areas:
                            "img title"
                            "img content"
                            "img sign"
                            "img links";

                        .img-pr {
                            grid-area: img;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        .title-pr {
                            width: 50%;
                            text-align: start;
                            grid-area: title;
                            padding: 2rem;
                            @include small-title-text;
                        }
                        .title-pr::after {
                            content: "Itis Max Plank";
                            display: block;
                        }
                        .content-pr {
                            grid-area: content;
                            padding: 2em;
                            width: 40%;
                            break-inside: auto;
                        }
                        .sign-pr {
                            grid-area: sign;
                            width: 15%;
                            object-fit: cover;
                            padding: 2rem;
                        }

                        .list-pr {
                            grid-area: links;
                            width: 20%;
                            @include flex-spaceBetwen;
                            padding: 2em;
                            .link-pr {
                                a {
                                    color: $background-white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
