// .emb-game {
//     position: relative;
//     margin: 0 auto;
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
// }

a {
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    margin: 20px auto;
    color: $background-white;
    font-family: $open-Sans;
    font-size: 1.3rem;
}

/* BUTTON 1 */

.wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    row-gap: 1.5rem;
    column-gap: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // max-width: 80%;
    
    .btn,
    .btn:link,
    .btn:visited {
        color: $background-white;
        max-height: 500px;
        max-width: 300px;
        text-align: center;    
        line-height: 1em;
        border-radius: $standard-radius;
        background-color: rgba(255, 255, 255, 0.795);
        box-shadow: 0 0 0 0 #2c3e50 inset, 0.3em 0.2em 0 0 #bbb;
        border: 0em solid #2c3e50;
        padding: 5em;
        text-align: center;
        transition: 0.25s box-shadow, 0.25s transform;
        
        &:hover {
            box-shadow: 0em 0em 0 0 #bbb;
            transform: translate(0.5em, 0.4em);
            color: #fff;
        }
    }
}

.photo1 {   
    display: none;
    background-image: url(../images/arcade.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.photo2 {
    background-image: url(../images/somethingunknown.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.photo3 {
    background-image: url(../images/anIdea.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.emb-game{
    display: block;
}
@media (max-width: 950px) {
    .wrap {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 1.5rem;
        column-gap: 1.5rem;
    }
    .btn{
        font-size: 0.8rem;
    }

    .emb-game{
        display: none;
    }
    .photo1{
        display: block;
    }
}