.grid-container {
    width: 70%;
    height: 70%;
    display: grid;
    grid-template-columns: 30% 1fr 1fr;
    grid-template-rows: 30% 1fr 1fr;
    grid-row-gap: 5%;
    grid-column-gap: 5%;
    text-align: center;

    .element {
        text-align: center;
        width: 80%;
        height: 80%;
        border-radius: $standard-radius;
        transition: all 0.2s ease-in-out;
        z-index: 1;

        &:nth-of-type(1) {
            background-image: $title-gradiant;
            background-size: 150%;
        }
        &:nth-of-type(2) {
            background-image: linear-gradient(155deg, #03001e, #7303c0, #ec38bc, #fdeff9);
            background-size: 200%;
            background: position x 0;
            background: position y 0;
        }
        &:nth-of-type(3) {
            @include meridian-gradient;
        }
        &:nth-of-type(4) {
            background-image: linear-gradient(95deg, #00416a, #799f0c, #ffe000),
                linear-gradient(to top, #03001e, #7303c0, #ec38bc, #fdeff9);
            background-size: 200%;
            background: position x 0;
            background: position y 0;
        }
        &:nth-of-type(5) {
            background-image: $title-gradiant;
            background-size: 150%;
        }
        &:nth-of-type(6) {
            @include king-gradinet;
        }
        &:nth-of-type(7) {
            @include king-gradinet;
        }
        &:nth-of-type(8) {
            background-image: $title-gradiant;
            background-size: 150%;
        }
        &:nth-of-type(9) {
            @include king-gradinet;
        }

        &:nth-of-type(1):hover {
            background-position: right;
        }

        .inner-title {
            display: block;
            font-size: 2em;
            font-family: $open-Sans;
            color: $background-white;
        }
        .sml-desc {
            display: block;
        }
    }

    .element:hover,
    .element:focus {
        transform: scale(1.1);
    }
}
/*

da sistemare


#skill{
    left: -250px;
    top: -200px;
}

*/
// @media (max-width: 750px) {
//     .grid-container {
//         grid-template-columns: 1fr 1fr 1fr;
//         grid-template-rows: 1fr 1fr 1fr 1fr ;
//         grid-row-gap: 2em;
//         grid-column-gap: 2em;
//     }
// }
