
.fade-in{
    opacity: 0.25;
    transform: scale(0.95);
    transition: all 500ms ease-in;
}
.fade-in.appear{
    opacity: 1;
    transform: scale(1);

}
/*
.grid-container{

    margin-top:6rem;
    width:70%;
    display:grid;
    grid-template-columns: repeat(3,13rem);
    grid-template-rows:repeat(3,11rem); 
    gap:1.5rem;
    justify-content:center;
  }
  .element{
    background-color:gray;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    border-radius:2rem;
    
    transform:scale(1);
   // box-shadow:0rem black;
    transition: transform 250ms;
    h3{
        @include small-title-text;
        text-transform: uppercase;
    }
    p{
        text-align: center;
        margin-left: 0.9rem;
        margin-right: 0.9rem;
        font-size: 1rem;
        
    }

  }
  .element:hover,.element:focus{
    transform:scale(1.2);
    //box-shadow:0rem 0rem 15rem 1rem black;
  }
  @media (min-width: 2560px) {
    .grid-container{
        p{
            font-size: 3rem;
        }
    }
}
  @media (max-width: 1150px) {
    .grid-container{
        grid-template-columns: repeat(3,18vw);
        grid-template-rows:repeat(3,15.5vw); 
        gap:2vw;
        h3{
            font-size: 2.5vw;
        }
        p{
            font-size: 1.3vw
        }
        border-radius: 1rem;
    }

    }
    @media (max-width: 950px) {
        .grid-container{
            grid-template-columns: 22em;
            grid-template-rows:1fr; 
            gap:1rem;
            .element{
                    padding: 1rem 1rem;
                    border-radius: 1.2rem;

                h3{
                    font-size: 1rem;
                }
                p{
                    font-size:0.7rem;
                }
            }
            .element:hover,.element:focus{
                transform:scale(1.3);
                //box-shadow:0rem 0rem 15rem 1rem black;
              }
        }
        }
.element:nth-child(1){
    background: linear-gradient(145.59deg, #1861EF -0.9%, #27E85C 103.96%);
*/
    .grid-container {
        margin-top:2rem;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3,13rem);
    grid-template-rows:repeat(3,11rem); 
    gap:clamp(0.5rem,2vw,1.5rem);
    justify-content:center;
    text-align: center;
    .element {
        border-radius: 1em;
        z-index: 1;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-evenly;
        transform-style: preserve-3d;

        .inner-title {

            font-size: clamp(1rem,1.8vw,2.1rem);
            text-transform: uppercase;
            transform: translateZ(30px);
        }
        .sml-desc {
            text-align: center;
            margin-left: 0.9rem;
            margin-right: 0.9rem;
            font-size: clamp(0.75rem,1vw,1rem);
            transform: translateZ(20px);
        }
        &:nth-of-type(1) {
            background-image: linear-gradient(145.59deg, #1861EF -0.9%, #27E85C 103.96%,#27e8de 103.96%);
            background-size: 170%;
            background-position: left bottom;
            transform: scale(1);
            //transition: all 300ms ease-in-out;
        }

        &:nth-of-type(1):hover,
        &:nth-of-type(1):focus {
            background-position: right top;
            transform: scale(1.1);
            
        }
        &:nth-of-type(2) {
            background: linear-gradient(144.35deg, #274B74 1.73%, #8233C5 58.54%, #E963FD 104.42%);
            background-size: 200%;
            transform: scale(1);
            transition: all 300ms ease-in-out;
            background-position-x: right;
            background-position-y: top;
            
        }
        &:nth-of-type(2):hover,
        &:nth-of-type(2):focus {
            background-position-x: left;
            background-position-y: top;
            transform: scale(1.1);
        }
        &:nth-of-type(3) {
            background: linear-gradient(150.08deg, #879AF2 -6.53%, #D3208B 51.52%, #FDA000 109%);
            background-size: 220%;
            background-position-x: right;
            background-position-y: bottom;
            transform: scale(1);
            transition: all 300ms ease-in-out;
        }

        &:nth-of-type(3):hover,
        &:nth-of-type(3):focus {
            background-position-x: left;
            background-position-y: top;
            transform: scale(1.1);
        }
        &:nth-of-type(4) {
            background: linear-gradient(150.08deg, #D03E20 -6.53%, #F6CE0E 109%);
            background-size: 200%;
            transform: scale(1);
            transition: all 300ms ease-in-out;
            background-position-x: left;
            background-position-y: top;
        }
        &:nth-of-type(4):hover,
        &:nth-of-type(4):focus {
            background-position-x: right;
            background-position-y: top;
            transform: scale(1.1);
        }

        &:nth-of-type(5) {
            background: linear-gradient(150.08deg, #CFDE38 -6.53%, #3ACC9C 49.24%, #3A74CC 109%);
            background-size: 200%;
            background-position-x: left;
            background-position-y: bottom;
            transform: scale(1);
            transition: all 300ms ease-in-out;
        }

        &:nth-of-type(5):hover,
        &:nth-of-type(5):focus {
            background-position-x: right;
            background-position-y: top;
            transform: scale(1.1);
        }
        &:nth-of-type(6) {
            background: linear-gradient(150.08deg, #363553 -6.53%, #722D89 46.42%, #E8458B 109%);
            background-size: 200%;
            transform: scale(1);
            transition: all 300ms ease-in-out;
            background-position-x: right;
            background-position-y: top;
        }
        &:nth-of-type(6):hover,
        &:nth-of-type(6):focus {
            background-position-x: left;
            background-position-y: top;
            transform: scale(1.1);
        }

        &:nth-of-type(7) {
            background: linear-gradient(150.08deg, #5C2774 -6.53%, #335CC5 57.33%, #637FFD 109%);
            background-size: 200%;
            background-position-x: left;
            background-position-y: bottom;
            transform: scale(1);
            transition: all 300ms ease-in-out;
        }

        &:nth-of-type(7):hover,
        &:nth-of-type(7):focus {
            background-position-x: right;
            background-position-y: top;
            transform: scale(1.1);
        }
        &:nth-of-type(8) {
            background: linear-gradient(150.08deg, #F02FC2 -6.53%, #6094EA 70.54%, #37A2B0 109%);
            background-size: 200%;
            transform: scale(1);
            transition: all 300ms ease-in-out;
            background-position-x: right;
            background-position-y: top;
        }
        &:nth-of-type(8):hover,
        &:nth-of-type(8):focus {
            background-position-x: left;
            background-position-y: top;
            transform: scale(1.1);
        }

        &:nth-of-type(9) {
            background: linear-gradient(150.08deg, #F17B41 -6.53%, #CB73D2 109%,#8c73d2 109%);
            background-size: 200%;
            transform: scale(1);
            transition: all 300ms ease-in-out;
            background-position-x: right;
            background-position-y: top;
        }
        &:nth-of-type(9):hover,
        &:nth-of-type(9):focus {
            background-position-x: left;
            background-position-y: bottom;
            transform: scale(1.1);
        }

    }
}

  @media (max-width: 1150px) {
    .grid-container{
        grid-template-columns: repeat(3,18vw);
        grid-template-rows:repeat(3,15.5vw); 
        border-radius: 1rem;
    }

    }
    @media (max-width: 950px) {
        .grid-container{
            grid-template-columns: 100%;
            grid-template-rows:1fr; 
            .element{
                    padding: 1rem;
                    border-radius: 1.2rem;
            }
           
        }
        }
        @media (max-width: 450px) {
            .grid-container{
                width: 90%;
                .element{
                        padding: 1rem ;
                        border-radius: 1.2rem;
                }

            }
            }