/* section 1 */
.title-container {
    position: relative;
    padding: 3em;
    text-align: center;
    margin-left: 3em;
    margin-right: 3em;
    .opening-quote {
        position: relative;
        margin: 1em auto;
        font-family: $open-Sans;
        font-size: clamp();
        // @include title-text;
        @include clipBg-ToText;
        background-image: $title-gradiant;
    }
    .sub-quote {
        position: relative;
        margin-top: 0.6em;
        @include medium-text;
    }

    .ourWork-button {
        position: relative;
        @include flex-center;
        margin-top: 4em;
        padding: 2em;

        #ourWork {
            @include buttonBig-text;
            @include flex-center;
            padding: 1em 2.5em;
            border-radius: $standard-radius - 0.2em;
            background: $buttons-gradient;
            background-size: 300%;
            background-position: left;
            transition: background-position 0.7s;
        }

        #ourWork:hover,
        #ourWork:focus {
            background-position: right;
        }
        @media (max-width: 350px) {
            margin-top: 1em;
        }
    }
}
