/* section 1 */
#visitator-count{
    position: absolute;
    font-family: $open-Sans;
    font-size: clamp(5em,25vw,30em);
    background-image: linear-gradient(180deg, rgba(255, 100, 100, 0.986),rgba(255, 230, 0, 0.644));
    left:1%;
    margin-top:2em;
    white-space: nowrap;
    background-size:cover;
    -webkit-background-clip: text;
    color:transparent;

}
.title-container {
    position: relative;
    width: 85%;
    height: 77%;
    text-align: center;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: clamp(4em,5vw,6em);
    .opening-quote {
        position: relative;
        margin: 1em auto;
        .t-text{
            @include title-text;
            @include clipBg-ToText;
            background-image: $title-gradiant;
        }
    }

    // color: $background-white;
    .sub-quote {
        position: relative;
        margin-top: 0.6em;
        @include medium-text;
    }

    .ourWork-button {
        position: relative;
        @include flex-center;
        justify-content: center;
        margin-top: clamp(2.5em,5vw,6em);

        #ourWork {
            @include buttonBig-text;
            @include flex-center;
            height: 2em;
            width: 8.5em;
            border-radius: $standard-radius - 0.2em;
            background: $buttons-gradient;
            background-size: 300%;
            background-position: left;
            transition: background-position 0.7s;
        }

        #ourWork:hover,
        #ourWork:focus {
            background-position: right;
        }
        
    }
    
}

