
  .container {
    position: relative;
    width: 100%;
    min-height: 100vh;

  }
  
  .space-holder {
    position: relative;
    width: 100%;
  }
  
  .sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
  }
  
  .horizontal {
    position: absolute;
    height: 100%;
    will-change: transform;
  }
  

  

