/* gradients */
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Lora:ital,wght@1,500&family=Open+Sans:wght@750&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Lora:ital,wght@1,500&family=Open+Sans:wght@750&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Lora:ital,wght@1,500&family=Open+Sans:wght@800&family=Quicksand:wght@300&family=Titillium+Web:wght@300&display=swap");
.triangle-container {
  position: absolute;
  left: 0px;
  top: 0;
}

@media (max-width: 500px) {
  .triangle-container {
    margin-top: 80px;
  }
}

.triangle-container .section-2 {
  position: absolute;
  left: 0px;
  top: 5500px;
}

.triangle-container .section-2 .triangle:nth-child(1) {
  background: linear-gradient(45.59deg, #186eef -0.9%, #27E85C 103.96%, #27e8c8 103.96%);
  top: -20vw;
  left: 5vw;
  -webkit-transform: rotateZ(15deg);
          transform: rotateZ(15deg);
}

.triangle-container .section-2 .triangle:nth-child(2) {
  background: linear-gradient(45.59deg, #186eef -0.9%, #27E85C 103.96%, #27e8c8 103.96%);
  top: 30vw;
  left: 15vw;
  -webkit-transform: rotateZ(115deg);
          transform: rotateZ(115deg);
}

.triangle-container .section-2 .triangle:nth-child(3) {
  background: linear-gradient(45.59deg, #186eef -0.9%, #27E85C 103.96%, #27e8c8 103.96%);
  top: 55vw;
  left: 85vw;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.triangle-container .section-2 .triangle:nth-child(4) {
  background: linear-gradient(45.59deg, #186eef -0.9%, #27E85C 103.96%, #27e8c8 103.96%);
  top: 90vw;
  left: 75vw;
  -webkit-transform: rotateZ(20deg);
          transform: rotateZ(20deg);
}

.triangle-container .section-2 .triangle:nth-child(5) {
  background: linear-gradient(45.59deg, #186eef -0.9%, #27E85C 103.96%, #27e8c8 103.96%);
  top: 80vw;
  left: 79vw;
  -webkit-transform: rotateZ(80deg);
          transform: rotateZ(80deg);
}

.triangle-container .section-2 .triangle:nth-child(6) {
  background: linear-gradient(45.59deg, #186eef -0.9%, #27E85C 103.96%, #27e8c8 103.96%);
  top: -25vw;
  left: 85vw;
  -webkit-transform: rotateZ(150deg);
          transform: rotateZ(150deg);
}

.triangle-container .section-2 .triangle:nth-child(7) {
  background: linear-gradient(45.59deg, #186eef -0.9%, #27E85C 103.96%, #27e8c8 103.96%);
  top: 10vw;
  left: 15vw;
  -webkit-transform: rotateZ(50deg);
          transform: rotateZ(50deg);
}

.triangle-container .section-2 .triangle:nth-child(8) {
  background: linear-gradient(45.59deg, #186eef -0.9%, #27E85C 103.96%, #27e8c8 103.96%);
  top: 20vw;
  left: 75vw;
  -webkit-transform: rotateZ(100deg);
          transform: rotateZ(100deg);
}

.triangle-container .section-2 .triangle:nth-child(9) {
  background: linear-gradient(45.59deg, #186eef -0.9%, #27E85C 103.96%, #27e8c8 103.96%);
  top: 120vw;
  left: 15vw;
  -webkit-transform: rotateZ(100deg);
          transform: rotateZ(100deg);
}

.triangle-container .section-2 .triangle:nth-child(10) {
  background: linear-gradient(45.59deg, #186eef -0.9%, #27E85C 103.96%, #27e8c8 103.96%);
  top: 80vw;
  left: 5vw;
  -webkit-transform: rotateZ(10deg);
          transform: rotateZ(10deg);
}

.triangle-container .section-3 {
  position: absolute;
  left: 0px;
  top: 7500px;
}

@media (max-width: 500px) {
  .triangle-container .section-3 {
    top: 4100px;
  }
}

@media (max-width: 350px) {
  .triangle-container .section-3 {
    display: none;
  }
}

.triangle-container .section-3 .triangle:nth-child(1) {
  background: linear-gradient(45.59deg, #186eef -0.9%, #27E85C 103.96%, #27e8c8 103.96%);
  top: 84vw;
  left: 5vw;
  -webkit-transform: rotateZ(15deg);
          transform: rotateZ(15deg);
}

.triangle-container .section-3 .triangle:nth-child(2) {
  background: linear-gradient(45.59deg, #186eef -0.9%, #27E85C 103.96%, #27e8c8 103.96%);
  top: 70vw;
  left: 5vw;
  -webkit-transform: rotateZ(115deg);
          transform: rotateZ(115deg);
}

.triangle-container .section-3 .triangle:nth-child(3) {
  background: linear-gradient(45.59deg, #186eef -0.9%, #27E85C 103.96%, #27e8c8 103.96%);
  top: 60vw;
  left: 89vw;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.triangle-container .section-3 .triangle:nth-child(4) {
  background: linear-gradient(45.59deg, #186eef -0.9%, #27E85C 103.96%, #27e8c8 103.96%);
  top: 90vw;
  left: 75vw;
  -webkit-transform: rotateZ(20deg);
          transform: rotateZ(20deg);
}

.triangle {
  position: absolute;
  z-index: 3;
  opacity: 0.8;
  -webkit-clip-path: url(#cp);
          clip-path: url(#cp);
  width: 10vw;
  height: 10vw;
  max-height: 11vh;
  max-width: 11vh;
}

.triangle:nth-child(1) {
  background: linear-gradient(45.59deg, #186eef -0.9%, #27E85C 103.96%, #27e8c8 103.96%);
  top: 20vw;
  left: 5vw;
  -webkit-transform: rotateZ(15deg);
          transform: rotateZ(15deg);
}

.triangle:nth-child(2) {
  background: linear-gradient(45.59deg, #186eef -0.9%, #27E85C 103.96%, #27e8c8 103.96%);
  top: 30vw;
  left: 15vw;
  -webkit-transform: rotateZ(115deg);
          transform: rotateZ(115deg);
}

.triangle:nth-child(3) {
  background: linear-gradient(45.59deg, #186eef -0.9%, #27E85C 103.96%, #27e8c8 103.96%);
  top: 35vw;
  left: 85vw;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.triangle:nth-child(4) {
  background: linear-gradient(45.59deg, #186eef -0.9%, #27E85C 103.96%, #27e8c8 103.96%);
  top: 90vw;
  left: 75vw;
  -webkit-transform: rotateZ(20deg);
          transform: rotateZ(20deg);
}

.triangle:nth-child(5) {
  background: linear-gradient(45.59deg, #186eef -0.9%, #27E85C 103.96%, #27e8c8 103.96%);
  top: 80vw;
  left: 55vw;
  -webkit-transform: rotateZ(80deg);
          transform: rotateZ(80deg);
}

.triangle:nth-child(6) {
  background: linear-gradient(45.59deg, #186eef -0.9%, #27E85C 103.96%, #27e8c8 103.96%);
  top: 20vw;
  left: 85vw;
  -webkit-transform: rotateZ(150deg);
          transform: rotateZ(150deg);
}

.triangle:nth-child(7) {
  background: linear-gradient(45.59deg, #186eef -0.9%, #27E85C 103.96%, #27e8c8 103.96%);
  top: 10vw;
  left: 15vw;
  -webkit-transform: rotateZ(50deg);
          transform: rotateZ(50deg);
}

.triangle:nth-child(8) {
  background: linear-gradient(45.59deg, #186eef -0.9%, #27E85C 103.96%, #27e8c8 103.96%);
  top: 10vw;
  left: 75vw;
  -webkit-transform: rotateZ(100deg);
          transform: rotateZ(100deg);
}

.triangle:nth-child(9) {
  background: linear-gradient(45.59deg, #186eef -0.9%, #27E85C 103.96%, #27e8c8 103.96%);
  top: 100vw;
  left: 15vw;
  -webkit-transform: rotateZ(100deg);
          transform: rotateZ(100deg);
}

.triangle:nth-child(10) {
  background: linear-gradient(45.59deg, #186eef -0.9%, #27E85C 103.96%, #27e8c8 103.96%);
  top: 60vw;
  left: 5vw;
  -webkit-transform: rotateZ(10deg);
          transform: rotateZ(10deg);
}

.circle-container {
  position: absolute;
  width: 100%;
}

.circle {
  display: inline-block;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 40em;
  max-height: 40em;
}

@media (max-width: 750px) {
  .circle {
    opacity: 0.6;
  }
}

@media (max-width: 650px) {
  .circle {
    display: none;
  }
}

.circle .inner-circle {
  position: absolute;
  border-radius: 50%;
  background: #090910;
  max-width: 30em;
  max-height: 30em;
}

.circle:nth-child(1) {
  width: 60vw;
  height: 60vw;
  min-width: 450px;
  min-height: 450px;
  margin-left: 70%;
  margin-top: 10em;
}

.circle:nth-child(1) .inner-circle {
  width: 27vw;
  height: 27vw;
  min-width: 380px;
  min-height: 380px;
}

.circle:nth-child(2) {
  width: 36vw;
  height: 36vw;
  min-width: 480px;
  min-height: 480px;
  margin-left: 70%;
  margin-top: 15em;
}

.circle:nth-child(2) .inner-circle {
  width: 29vw;
  height: 29vw;
  min-width: 350px;
  min-height: 350px;
}

.circle:nth-child(3) {
  background: linear-gradient(180.08deg, #b320d0 -6.53%, #0ee7f6 109%);
  width: 46vw;
  height: 46vw;
  min-width: 480px;
  min-height: 480px;
  margin-left: -19%;
  margin-top: 85vh;
}

.circle:nth-child(3) .inner-circle {
  width: 39vw;
  height: 39vw;
  min-width: 380px;
  min-height: 380px;
}

.circle:nth-child(4) {
  background: linear-gradient(100.08deg, #efcf18 10%, #27dbe8);
  width: 36vw;
  height: 36vw;
  min-width: 480px;
  min-height: 480px;
  margin-left: 70%;
  margin-top: 170vh;
}

.circle:nth-child(4) .inner-circle {
  width: 29vw;
  height: 29vw;
  min-width: 370px;
  min-height: 370px;
}

.circle:nth-child(5) {
  background: linear-gradient(180.59deg, #1861EF -0.9%, #27E85C 103.96%, #27e8de 103.96%);
  width: 37vw;
  height: 37vw;
  min-width: 490px;
  min-height: 490px;
  margin-left: -10em;
  margin-top: 240vh;
}

.circle:nth-child(5) .inner-circle {
  width: 30vw;
  height: 30vw;
  min-width: 390px;
  min-height: 390px;
}

.circle:nth-child(6) {
  background: linear-gradient(150.08deg, #8822b8, #8333c5, #1c44f7);
  width: 36vw;
  height: 36vw;
  min-width: 480px;
  min-height: 480px;
  margin-left: 70%;
  margin-top: 320vh;
}

.circle:nth-child(6) .inner-circle {
  width: 29vw;
  height: 29vw;
  min-width: 350px;
  min-height: 350px;
}

.circle:nth-child(7) {
  background: linear-gradient(180.59deg, #879AF2 -6.53%, #D3208B 51.52%, #FDA000 109%);
  width: 37vw;
  height: 37vw;
  min-width: 490px;
  min-height: 490px;
  margin-left: -10em;
  margin-top: 390vh;
}

.circle:nth-child(7) .inner-circle {
  width: 30vw;
  height: 30vw;
  min-width: 390px;
  min-height: 390px;
}

.circle:nth-child(8) {
  background: linear-gradient(150.08deg, #f76015 -6.53%, #e032ec 109%, #693ce4 109%);
  width: 36vw;
  height: 36vw;
  min-width: 480px;
  min-height: 480px;
  margin-left: 70%;
  margin-top: 470vh;
}

.circle:nth-child(8) .inner-circle {
  width: 29vw;
  height: 29vw;
  min-width: 350px;
  min-height: 350px;
}

.circle:nth-child(9) {
  background: linear-gradient(180.59deg, #1861EF -0.9%, #27E85C 103.96%, #27e8de 103.96%);
  width: 33vw;
  height: 33vw;
  min-width: 450px;
  min-height: 450px;
  margin-left: -9em;
  margin-top: 0vw;
}

.circle:nth-child(9) .inner-circle {
  width: 27vw;
  height: 27vw;
  min-width: 380px;
  min-height: 380px;
}

.circle:nth-child(10) {
  background: linear-gradient(150.08deg, #d02020 4.53%, #f6df0e 109%);
  width: 36vw;
  height: 36vw;
  min-width: 480px;
  min-height: 480px;
  margin-left: 70%;
  margin-top: 25vw;
}

.circle:nth-child(10) .inner-circle {
  width: 29vw;
  height: 29vw;
  min-width: 350px;
  min-height: 350px;
}

.circle:nth-child(13) {
  background: linear-gradient(180.59deg, #1861EF -0.9%, #27E85C 103.96%, #27e8de 103.96%);
  width: 37vw;
  height: 37vw;
  min-width: 490px;
  min-height: 490px;
  margin-left: -10em;
  margin-top: 550vh;
}

.circle:nth-child(13) .inner-circle {
  width: 30vw;
  height: 30vw;
  min-width: 390px;
  min-height: 390px;
}

.circle:nth-child(14) {
  background: linear-gradient(150.08deg, #8822b8, #8333c5, #1c44f7);
  width: 36vw;
  height: 36vw;
  min-width: 480px;
  min-height: 480px;
  margin-left: 70%;
  margin-top: 620vh;
}

.circle:nth-child(14) .inner-circle {
  width: 29vw;
  height: 29vw;
  min-width: 350px;
  min-height: 350px;
}

.circle:nth-child(15) {
  background: linear-gradient(100.08deg, #efcf18 10%, #27dbe8);
  width: 36vw;
  height: 36vw;
  min-width: 480px;
  min-height: 480px;
  margin-left: -10%;
  margin-top: 700vh;
}

.circle:nth-child(15) .inner-circle {
  width: 29vw;
  height: 29vw;
  min-width: 370px;
  min-height: 370px;
}

/****************fonts****************/
/*************************************/
/* gradients */
.header {
  position: fixed;
  padding-top: 1em;
  width: 100%;
  height: 3em;
  z-index: 100;
  background-color: #090910;
  -webkit-box-shadow: 0.1em 0.1em 2em 3em #090910;
          box-shadow: 0.1em 0.1em 2em 3em #090910;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 750px) {
  .header {
    -webkit-box-shadow: 0.1em 0.1em 1.5em 2em #090910;
            box-shadow: 0.1em 0.1em 1.5em 2em #090910;
  }
}

@media (max-width: 750px) {
  .header {
    height: 2em;
  }
}

.header .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 120rem;
  height: 100%;
  z-index: 1;
  margin-left: 1em;
  margin-right: 1em;
}

.header .nav-bar .logo {
  width: clamp(4.4em, 7vw, 7.1em);
  height: auto;
  margin-left: clamp(1em, 2vw, 2.5em);
}

.header .nav-bar .links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 35em;
  height: 100%;
}

.header .nav-bar .links-container p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: rgba(236, 228, 228, 0.952);
}

.header .nav-bar .links-container .links {
  margin: 0 auto;
  padding: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(158, 157, 157, 0.199)), color-stop(#090910), to(#090910));
  background: linear-gradient(90deg, rgba(158, 157, 157, 0.199), #090910, #090910);
  width: 6.5em;
  height: 90%;
  border-radius: 0.5rem;
  background-size: 250%;
  background-position: right;
  -webkit-transition: background-position 0.3s;
  transition: background-position 0.3s;
}

.header .nav-bar .links-container .links:hover, .header .nav-bar .links-container .links:focus {
  background-position: left;
}

.header .nav-bar .contact-button {
  margin-right: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 8em;
  height: 100%;
  border-radius: 0.7em;
  background: linear-gradient(150deg, #5ec29c, #5ec2ba, #5e79c2, #845ec2, #d65db1, #ff6f91, #ff9671);
  background-size: 300%;
  background-position: left;
  -webkit-transition: background-position 0.7s;
  transition: background-position 0.7s;
}

.header .nav-bar .contact-button a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.header .nav-bar .hamburger-menu {
  display: none;
}

.header .nav-bar .contact-button:hover,
.header .nav-bar .contact-button:focus {
  background-position: right;
}

@media (max-width: 750px) {
  .header .nav-bar .links-container .links {
    display: none;
  }
  .header .nav-bar .contact-button {
    position: absolute;
    margin-right: 1em;
    font-size: 0.8rem;
    margin-left: 6em;
  }
  .header .nav-bar .hamburger-menu {
    display: block;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: clamp(1.5em, 2vw, 2.5em);
    width: 2.5em;
    height: 2em;
    cursor: pointer;
  }
  .header .nav-bar .hamburger-icon {
    width: 2.0em;
    height: 0.25em;
    background: rgba(236, 228, 228, 0.952);
    border-radius: 0.5em;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .header .nav-bar .hamburger-icon::before, .header .nav-bar .hamburger-icon::after {
    content: '';
    position: absolute;
    width: 2.0em;
    height: 0.25em;
    background: rgba(236, 228, 228, 0.952);
    border-radius: 0.5em;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .header .nav-bar .hamburger-icon::before {
    -webkit-transform: translateY(-0.5em);
            transform: translateY(-0.5em);
  }
  .header .nav-bar .hamburger-icon::after {
    -webkit-transform: translateY(0.5em);
            transform: translateY(0.5em);
  }
  .header .nav-bar .hamburger-menu.open .hamburger-icon {
    background: transparent;
  }
  .header .nav-bar .hamburger-menu.open .hamburger-icon::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header .nav-bar .hamburger-menu.open .hamburger-icon::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

.hamburger-menu-container {
  display: none;
}

@media (max-width: 750px) {
  .hamburger-menu-container {
    display: block;
    position: fixed;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 100%;
    height: 100%;
    z-index: 98;
    visibility: hidden;
    background: #090910;
    -webkit-box-shadow: -2em 2em 5em 1em #090910;
            box-shadow: -2em 2em 5em 1em #090910;
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
  }
  .hamburger-menu-container .links-container1 {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 400ms ease-in;
    transition: -webkit-transform 400ms ease-in;
    transition: transform 400ms ease-in;
    transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 7em;
  }
  .hamburger-menu-container .links-container1 p {
    font-family: "Open Sans", sans-serif;
    font-size: 0.9rem;
    color: rgba(236, 228, 228, 0.952);
    font-size: 1rem;
  }
  .hamburger-menu-container .links-container1 .contact-button1 {
    width: 85%;
    height: 10%;
    margin: 0.3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 0.7em;
    background: linear-gradient(150deg, #5ec29c, #5ec2ba, #5e79c2, #845ec2, #d65db1, #ff6f91, #ff9671);
    background-size: 200%;
    background-position: left;
    -webkit-transition: background-position 700ms;
    transition: background-position 700ms;
  }
  .hamburger-menu-container .links-container1 .contact-button1 a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
  }
  .hamburger-menu-container .links-container1 .contact-button1:hover, .hamburger-menu-container .links-container1 .contact-button1:focus {
    background-position: right;
  }
  .hamburger-menu-container .links-container1 .links1 {
    width: 75%;
    margin: 0.3em;
    border-radius: 0.7em;
    padding: 1.2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: -webkit-gradient(linear, left top, right top, from(rgba(158, 157, 157, 0.199)), color-stop(#090910), to(#090910));
    background: linear-gradient(90deg, rgba(158, 157, 157, 0.199), #090910, #090910);
    background-size: 150%;
    background-position: right;
    -webkit-transition: background-position 0.3s;
    transition: background-position 0.3s;
  }
  .hamburger-menu-container .links-container1 .links1:hover, .hamburger-menu-container .links-container1 .links1:focus {
    background-position: left;
  }
  .hamburger-menu-container .links-container1 .menu-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hamburger-menu-container .links-container1 .menu-icons img {
    margin: 4em 1em 0 1em;
    width: 40%;
    height: auto;
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
  }
  .hamburger-menu-container .links-container1 .menu-icons img:hover, .hamburger-menu-container .links-container1 .menu-icons img:focus {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .hamburger-menu-container.open {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    visibility: visible;
    -webkit-box-shadow: -2em 2em 5em 1em #090910;
            box-shadow: -2em 2em 5em 1em #090910;
  }
  .hamburger-menu-container.open .links-container1 {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

/* section 1 */
#visitator-count {
  position: absolute;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(5em, 25vw, 30em);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 100, 100, 0.986)), to(rgba(255, 230, 0, 0.644)));
  background-image: linear-gradient(180deg, rgba(255, 100, 100, 0.986), rgba(255, 230, 0, 0.644));
  left: 1%;
  margin-top: 2em;
  white-space: nowrap;
  background-size: cover;
  -webkit-background-clip: text;
  color: transparent;
}

@media (max-width: 500px) {
  #visitator-count {
    left: 10%;
    margin-top: 3em;
  }
}

.title-container {
  position: relative;
  width: 85%;
  height: 77%;
  text-align: center;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: clamp(4em, 5vw, 6em);
}

.title-container .opening-quote {
  position: relative;
  margin: 1em auto;
}

.title-container .opening-quote .t-text {
  font-family: "Open Sans", sans-serif;
  font-size: 4.9rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(135deg, #4d5ecf, #a157d2, #45f0fc, #45f1f7, #45fce1);
}

@media (max-width: 1150px) {
  .title-container .opening-quote .t-text {
    font-size: 6vw;
  }
}

@media (max-width: 550px) {
  .title-container .opening-quote .t-text {
    font-size: 1.6rem;
  }
}

@media (max-width: 350px) {
  .title-container .opening-quote .t-text {
    font-size: 1.3rem;
  }
}

.title-container .sub-quote {
  position: relative;
  margin-top: 0.6em;
  font: "Open Sans", sans-serif;
  font-size: 1.1rem;
  color: rgba(236, 228, 228, 0.952);
}

@media (max-width: 1150px) {
  .title-container .sub-quote {
    font-size: 2.3vw;
  }
}

@media (max-width: 750px) {
  .title-container .sub-quote {
    font-size: 1em;
  }
}

@media (max-width: 350px) {
  .title-container .sub-quote {
    font-size: 0.8rem;
  }
}

.title-container .ourWork-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
  margin-top: clamp(2.5em, 5vw, 6em);
}

.title-container .ourWork-button #ourWork {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  color: rgba(236, 228, 228, 0.952);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2em;
  width: 8.5em;
  border-radius: 0.5em;
  background: linear-gradient(150deg, #5ec29c, #5ec2ba, #5e79c2, #845ec2, #d65db1, #ff6f91, #ff9671);
  background-size: 300%;
  background-position: left;
  -webkit-transition: background-position 0.7s;
  transition: background-position 0.7s;
}

@media (max-width: 900px) {
  .title-container .ourWork-button #ourWork {
    font-size: 1.4rem;
  }
}

.title-container .ourWork-button #ourWork:hover,
.title-container .ourWork-button #ourWork:focus {
  background-position: right;
}

.pr-container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  max-height: 30em;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 4fr, 1fr;
      grid-template-rows: 4fr, 1fr;
      grid-template-areas: "img" "text";
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-image: url("https://sancho.com.mt/wp-content/uploads/2021/01/michal-kubalczyk-WecngmAT-KY-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.7em;
}

@media (max-width: 900px) {
  .pr-container {
    width: 80%;
    height: 70%;
  }
}

@media (max-width: 500px) {
  .pr-container {
    width: 60%;
    height: 70%;
  }
}

.pr-container .pr-content {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: text;
  height: 100%;
  max-width: 100%;
  background-color: white;
  border-radius: 0 0 0.7em 0.7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pr-container .pr-content .title-p {
  padding-top: 0.5em;
  padding-left: 1.5em;
}

.pr-container .pr-content .title-p .pr-title {
  position: relative;
  top: 0.3em;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(2rem, 2.4vw, 2.6rem);
  color: #090910;
  white-space: nowrap;
  margin-bottom: 0em;
  -webkit-transition: all 240ms ease-in-out;
  transition: all 240ms ease-in-out;
  -webkit-transition-property: top,margin-bottom;
  transition-property: top,margin-bottom;
}

.pr-container .pr-content .title-p .pr-paragraph {
  position: relative;
  padding-bottom: 0.5em;
  opacity: 0;
  width: 100%;
  color: #090910;
  font-size: 0.5em;
  font-family: "Raleway", sans-serif;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transition-property: opacity,font-size;
  transition-property: opacity,font-size;
}

.pr-container .pr-links {
  margin-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.pr-container .pr-links .link {
  -webkit-transform: scale(0.65);
          transform: scale(0.65);
}

.pr-container .pr-links .link a {
  padding: 0.3em;
  color: #090910;
}

.pr-container .pr-links .link:hover,
.pr-container .pr-links .link:focus {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

.pr-container:hover .pr-content .title-p .pr-title,
.pr-container:focus .pr-content .title-p .pr-title {
  margin-bottom: 0.6vw;
  top: 0em;
}

.pr-container:hover .pr-content .title-p p,
.pr-container:focus .pr-content .title-p p {
  opacity: 1;
  font-size: clamp(0.8rem, 0.9vw, 1rem);
}

.cards {
  position: relative;
  height: 100%;
  max-width: 40em;
  left: 240%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards .autobiography {
  width: 100%;
  height: 60%;
  margin-left: 30%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 900px) {
  .cards .autobiography {
    width: 100%;
    height: 50%;
    margin-left: 10%;
  }
}

@media (max-width: 600px) {
  .cards .autobiography {
    margin-left: -10%;
  }
}

@media (max-width: 500px) {
  .cards .autobiography {
    margin-left: -25%;
  }
}

@media (max-width: 1200px) {
  .cards {
    left: 190%;
  }
}

@media (max-width: 900px) {
  .cards {
    left: 155%;
  }
}

@media (max-width: 600px) {
  .cards {
    left: 112%;
  }
}

.pr-container1 {
  display: -ms-grid;
  display: grid;
  max-height: 30em;
  width: 100%;
  height: 100%;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "text";
  -ms-flex-line-pack: end;
      align-content: flex-end;
  background-image: url("https://sancho.com.mt/wp-content/uploads/2021/01/michal-kubalczyk-WecngmAT-KY-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.7em;
}

.pr-container1 .pr-content {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: text;
  margin-top: 37%;
  height: 50%;
  width: 100%;
  max-width: 100%;
  background-color: white;
  border-radius: 0 0 0.7em 0.7em;
  padding-top: 0em;
  -webkit-transition: padding-top 240ms ease-in;
  transition: padding-top 240ms ease-in;
}

.pr-container1 .pr-content .title-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 0.5em;
}

.pr-container1 .pr-content .title-p .pr-title {
  position: relative;
  top: 0.3em;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(2rem, 2.4vw, 2.6rem);
  color: #090910;
  white-space: nowrap;
}

.pr-container1 .pr-content .title-p .pr-paragraph1 {
  margin: 2em;
  position: relative;
  text-align: center;
  width: 80%;
  color: #090910;
  font-size: clamp(1rem, 1.1vw, 1.2rem);
  font-family: "Raleway", sans-serif;
}

@media (max-width: 900px) {
  .pr-container1 {
    width: 80%;
    height: 70%;
  }
  .pr-container1 .pr-content {
    height: 60%;
  }
}

@media (max-width: 800px) {
  .pr-container1 {
    height: 65%;
    background-image: none;
  }
  .pr-container1 .pr-content {
    margin-top: 15%;
    height: 75%;
    padding-bottom: 0.5em;
    border-radius: 0.7em;
  }
}

@media (max-width: 500px) {
  .pr-container1 {
    width: 55%;
    height: 70%;
  }
  .pr-container1 .pr-content {
    height: 75%;
  }
}

.pr-container1:hover .pr-content, .pr-container1:focus .pr-content {
  padding-top: 1em;
}

.grid-container {
  margin-top: 19rem;
  width: 70%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (13rem)[3];
      grid-template-columns: repeat(3, 13rem);
  -ms-grid-rows: (11rem)[3];
      grid-template-rows: repeat(3, 11rem);
  gap: clamp(0.5rem, 2vw, 2.2rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: clamp(1.5rem, 2vw, 3rem);
}

.grid-container .element {
  border-radius: 1em;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.grid-container .element .inner-title {
  font-size: clamp(1.1rem, 1.6vw, 1.8rem);
  text-transform: uppercase;
  -webkit-transform: translateZ(30px);
          transform: translateZ(30px);
}

.grid-container .element .sml-desc {
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-left: 0.9rem;
  margin-right: 0.9rem;
  font-size: clamp(0.6rem, 1vw, 0.9rem);
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
}

.grid-container .element:nth-of-type(1) {
  background-image: linear-gradient(145.59deg, #1861ef -0.9%, #27e85c 103.96%, #27e8de 103.96%);
  background-size: 170%;
  background-position: left bottom;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.grid-container .element:nth-of-type(1):hover, .grid-container .element:nth-of-type(1):focus {
  background-position: right top;
}

.grid-container .element:nth-of-type(2) {
  background: linear-gradient(144.35deg, #274b74 1.73%, #8233c5 58.54%, #e963fd 104.42%);
  background-size: 200%;
  background-position-x: right;
  background-position-y: top;
}

.grid-container .element:nth-of-type(2):hover, .grid-container .element:nth-of-type(2):focus {
  background-position-x: left;
  background-position-y: top;
}

.grid-container .element:nth-of-type(3) {
  background: linear-gradient(150.08deg, #879af2 -6.53%, #d3208b 51.52%, #fda000 109%);
  background-size: 220%;
  background-position-x: right;
  background-position-y: bottom;
}

.grid-container .element:nth-of-type(3):hover, .grid-container .element:nth-of-type(3):focus {
  background-position-x: left;
  background-position-y: top;
}

.grid-container .element:nth-of-type(4) {
  background: linear-gradient(150.08deg, #d03e20 -6.53%, #f6ce0e 109%);
  background-size: 200%;
  background-position-x: left;
  background-position-y: top;
}

.grid-container .element:nth-of-type(4):hover, .grid-container .element:nth-of-type(4):focus {
  background-position-x: right;
  background-position-y: top;
}

.grid-container .element:nth-of-type(5) {
  background: linear-gradient(150.08deg, #cfde38 -6.53%, #3acc9c 49.24%, #3a74cc 109%);
  background-size: 200%;
  background-position-x: left;
  background-position-y: bottom;
}

.grid-container .element:nth-of-type(5):hover, .grid-container .element:nth-of-type(5):focus {
  background-position-x: right;
  background-position-y: top;
}

.grid-container .element:nth-of-type(6) {
  background: linear-gradient(150.08deg, #363553 -6.53%, #722d89 46.42%, #e8458b 109%);
  background-size: 200%;
  background-position-x: right;
  background-position-y: top;
}

.grid-container .element:nth-of-type(6):hover, .grid-container .element:nth-of-type(6):focus {
  background-position-x: left;
  background-position-y: top;
}

.grid-container .element:nth-of-type(7) {
  background: linear-gradient(150.08deg, #5c2774 -6.53%, #335cc5 57.33%, #637ffd 109%);
  background-size: 200%;
  background-position-x: left;
  background-position-y: bottom;
}

.grid-container .element:nth-of-type(7):hover, .grid-container .element:nth-of-type(7):focus {
  background-position-x: right;
  background-position-y: top;
}

.grid-container .element:nth-of-type(8) {
  background: linear-gradient(150.08deg, #f02fc2 -6.53%, #6094ea 70.54%, #37a2b0 109%);
  background-size: 200%;
  background-position-x: right;
  background-position-y: top;
}

.grid-container .element:nth-of-type(8):hover, .grid-container .element:nth-of-type(8):focus {
  background-position-x: left;
  background-position-y: top;
}

.grid-container .element:nth-of-type(9) {
  background: linear-gradient(150.08deg, #f17b41 -6.53%, #cb73d2 109%, #8c73d2 109%);
  background-size: 200%;
  background-position-x: right;
  background-position-y: top;
}

.grid-container .element:nth-of-type(9):hover, .grid-container .element:nth-of-type(9):focus {
  background-position-x: left;
  background-position-y: bottom;
}

@media (max-width: 1150px) {
  .grid-container {
    -ms-grid-columns: (18vw)[3];
        grid-template-columns: repeat(3, 18vw);
    -ms-grid-rows: (15.5vw)[3];
        grid-template-rows: repeat(3, 15.5vw);
    border-radius: 1rem;
  }
}

@media (max-width: 950px) {
  .grid-container {
    -ms-grid-columns: 80%;
        grid-template-columns: 80%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .grid-container .element {
    padding: 1rem;
    border-radius: 1.2rem;
  }
}

@media (max-width: 450px) {
  .grid-container {
    width: 80%;
  }
  .grid-container .element {
    padding: 0.5rem;
    border-radius: 1.2rem;
  }
}

.emb-game {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}

input {
  outline: none;
  border: none;
  background: #312f2fdc;
  padding: 1.5em;
  margin-bottom: 1rem;
  width: 90%;
  border-radius: 0.7em;
  color: rgba(236, 228, 228, 0.952);
  font-family: "Raleway", sans-serif;
  font-size: 0.75em;
}

@media (max-width: 500px) {
  input {
    padding: 1.1em;
  }
}

textarea {
  outline: none;
  border: none;
  margin-bottom: 1rem;
  background: #312f2fdc;
  padding: 1.5em;
  height: 90%;
  width: 90%;
  font-size: 0.75em;
  border-radius: 0.7em;
  font-family: "Raleway", sans-serif;
  resize: none;
  color: rgba(236, 228, 228, 0.952);
}

@media (max-width: 500px) {
  textarea {
    height: 5rem;
  }
}

button {
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: rgba(236, 228, 228, 0.952);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 600000s 0s, color 600000s 0s;
  transition: background-color 600000s 0s, color 600000s 0s;
}

.contact-form {
  width: clamp(33rem, 43vw, 50em);
  margin: 3rem;
  margin-top: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form p {
  padding-bottom: 1em;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 1em;
}

@media (max-width: 500px) {
  .contact-form p {
    padding-bottom: 1em;
  }
}

.contact-form .input-helpers {
  padding-top: 0.5em;
  padding-bottom: 1em;
  font-size: 0.7em;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 1.9vw;
}

.contact-form .submit {
  display: block;
  position: relative;
  margin: 1.5rem auto;
  padding: 1.5em;
  border-radius: 0.7em;
  background-image: linear-gradient(150deg, #5ec29c, #5ec2ba, #5e79c2, #845ec2, #d65db1, #ff6f91, #ff9671);
  background-size: 250%;
  background-position: right;
  -webkit-transition: background-position 0.7s;
  transition: background-position 0.7s;
  color: rgba(236, 228, 228, 0.952);
  font-size: calc(0.7vw+1rem);
}

.contact-form .submit:hover,
.contact-form .submit:focus {
  background-position: left;
}

/****************fonts****************/
/*************************************/
/* gradients */
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(236, 228, 228, 0.952);
  border-radius: 0.7em;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

*,
a,
h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

h2,
h3,
p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font: "Open Sans", sans-serif;
  font-size: 0.8rem;
  color: rgba(236, 228, 228, 0.952);
}

@media (min-width: 2560px) {
  h2,
  h3,
  p {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  h2,
  h3,
  p {
    font-size: 0.8rem;
  }
}

h5 {
  color: white;
  font-family: "Open Sans", sans-serif;
  font: "Open Sans", sans-serif;
  font-size: 1.1rem;
  color: rgba(236, 228, 228, 0.952);
}

@media (max-width: 1150px) {
  h5 {
    font-size: 2.3vw;
  }
}

@media (max-width: 750px) {
  h5 {
    font-size: 1em;
  }
}

@media (max-width: 350px) {
  h5 {
    font-size: 0.8rem;
  }
}

span {
  background: rgba(236, 228, 228, 0.952) !important;
}

html {
  scroll-behavior: smooth;
  width: 100vw;
  height: 100vh;
}

body {
  position: relative;
  font-size: 20px;
  width: 100vw;
  height: 100vh;
  background-color: #090910;
  overflow-x: hidden;
  overflow-y: scroll;
}

body .fp-tableCell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

body .section {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.9;
  overflow: hidden;
  z-index: 1;
}

body .footer {
  height: 10vh;
  margin-top: 5vh;
}

body .footer .foot-wrap {
  height: 100%;
  width: 73%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .footer .foot-wrap .left-side .foot-logo {
  width: 4rem;
  opacity: 0.6;
  margin-right: 50%;
  padding-top: 0.5em;
}

@media (max-width: 400px) {
  body .footer .foot-wrap .left-side .foot-logo {
    margin-top: 1.2em;
  }
}

body .footer .foot-wrap .left-side .mails {
  font-size: 0.8rem;
  color: rgba(236, 228, 228, 0.952);
  opacity: 0.6;
  margin-top: 0.2em;
  font-family: "Titillium Web", sans-serif;
}

body .footer .foot-wrap .emails .mails {
  font-size: 0.8rem;
  color: rgba(236, 228, 228, 0.952);
  opacity: 0.6;
  margin: 0.3rem;
  font-family: "Titillium Web", sans-serif;
}

body .footer::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 0.2rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border-radius: 2rem;
  background-color: rgba(236, 228, 228, 0.952);
  opacity: 0.6;
}

.fp-enabled body,
html.fp-enabled {
  overflow-x: hidden !important;
}

.parallax_title {
  position: absolute;
  z-index: -1;
  font-family: "Open Sans", sans-serif;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(100, 255, 216, 0.986)), to(rgba(100, 255, 216, 0.336)));
  background-image: linear-gradient(180deg, rgba(100, 255, 216, 0.986), rgba(100, 255, 216, 0.336));
  font-size: clamp(5.5rem, 11vw, 20rem);
  white-space: nowrap;
  top: 0;
  background-size: cover;
  -webkit-background-clip: text;
  color: transparent;
}

.fade-in {
  opacity: 0.25;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: 500ms ease-in;
  transition: 500ms ease-in;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.fade-in.appear {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
/*# sourceMappingURL=main.css.map */