@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Lora:ital,wght@1,500&family=Open+Sans:wght@750&display=swap");
/****************fonts****************/
/*************************************/
/* gradients */
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Lora:ital,wght@1,500&family=Open+Sans:wght@750&display=swap");
.header {
  position: fixed;
  padding-top: 1em;
  width: 100%;
  height: 4em;
  -webkit-box-shadow: 0.5em 0.5em 4em 4em #090910;
          box-shadow: 0.5em 0.5em 4em 4em #090910;
  z-index: 100;
  background-color: #090910;
}

@media (max-width: 750px) {
  .header {
    height: 3em;
    -webkit-box-shadow: 0.2em 0.2em 2em 2em #090910;
            box-shadow: 0.2em 0.2em 2em 2em #090910;
  }
}

@media (max-width: 350px) {
  .header {
    height: 3em;
  }
}

.header .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 1em;
  margin-right: 1em;
}

.header .nav-bar .logo {
  width: 7em;
  height: auto;
  margin-left: 0.3em;
}

.header .nav-bar .links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 35em;
  height: 100%;
}

.header .nav-bar .links-container p {
  font: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: rgba(236, 228, 228, 0.925);
}

.header .nav-bar .links-container .links {
  margin: 0 auto;
  padding: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(158, 157, 157, 0.199)), color-stop(#090910), to(#090910));
  background: linear-gradient(90deg, rgba(158, 157, 157, 0.199), #090910, #090910);
  width: 6.5em;
  height: 90%;
  border-radius: 0.5rem;
  background-size: 250%;
  background-position: right;
  -webkit-transition: background-position 0.3s;
  transition: background-position 0.3s;
}

.header .nav-bar .links-container .links:hover, .header .nav-bar .links-container .links:focus {
  background-position: left;
}

.header .nav-bar .contact-button {
  margin-right: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 8em;
  height: 90%;
  border-radius: 0.7em;
  background: linear-gradient(150deg, #5ec29c, #5ec2ba, #5e79c2, #845ec2, #d65db1, #ff6f91, #ff9671);
  background-size: 300%;
  background-position: left;
  -webkit-transition: background-position 0.7s;
  transition: background-position 0.7s;
}

.header .nav-bar .hamburger-menu {
  display: none;
}

.header .nav-bar .contact-button:hover,
.header .nav-bar .contact-button:focus {
  background-position: right;
}

@media (max-width: 750px) {
  .header .nav-bar .links-container .links {
    display: none;
  }
  .header .nav-bar .contact-button {
    position: absolute;
    margin-right: 1em;
    font-size: 0.8rem;
  }
  .header .nav-bar .hamburger-menu {
    display: block;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 2.5em;
    width: 2.5em;
    height: 2em;
    cursor: pointer;
  }
  .header .nav-bar .hamburger-icon {
    width: 2.0em;
    height: 0.25em;
    background: rgba(236, 228, 228, 0.925);
    border-radius: 0.5em;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .header .nav-bar .hamburger-icon::before, .header .nav-bar .hamburger-icon::after {
    content: '';
    position: absolute;
    width: 2.0em;
    height: 0.25em;
    background: rgba(236, 228, 228, 0.925);
    border-radius: 0.5em;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .header .nav-bar .hamburger-icon::before {
    -webkit-transform: translateY(-0.5em);
            transform: translateY(-0.5em);
  }
  .header .nav-bar .hamburger-icon::after {
    -webkit-transform: translateY(0.5em);
            transform: translateY(0.5em);
  }
  .header .nav-bar .hamburger-menu.open .hamburger-icon {
    background: transparent;
  }
  .header .nav-bar .hamburger-menu.open .hamburger-icon::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header .nav-bar .hamburger-menu.open .hamburger-icon::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header .nav-bar .logo {
    width: 5.5em;
  }
}

.hamburger-menu-container {
  display: none;
}

@media (max-width: 750px) {
  .hamburger-menu-container {
    display: block;
    position: fixed;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 100%;
    height: 100%;
    z-index: 98;
    background: #090910;
    -webkit-transition: -webkit-transform 400ms ease-in-out;
    transition: -webkit-transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  }
  .hamburger-menu-container .links-container1 {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 400ms ease-in;
    transition: -webkit-transform 400ms ease-in;
    transition: transform 400ms ease-in;
    transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 8em;
  }
  .hamburger-menu-container .links-container1 p {
    font: "Open Sans", sans-serif;
    font-size: 0.9rem;
    color: rgba(236, 228, 228, 0.925);
  }
  .hamburger-menu-container .links-container1 .contact-button1 {
    width: 75%;
    margin: 0.3em;
    padding: 1.3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 0.7em;
    background: linear-gradient(150deg, #5ec29c, #5ec2ba, #5e79c2, #845ec2, #d65db1, #ff6f91, #ff9671);
    background-size: 200%;
    background-position: left;
    -webkit-transition: background-position 700ms;
    transition: background-position 700ms;
  }
  .hamburger-menu-container .links-container1 .contact-button1:hover, .hamburger-menu-container .links-container1 .contact-button1:focus {
    background-position: right;
  }
  .hamburger-menu-container .links-container1 .links1 {
    width: 75%;
    margin: 0.3em;
    border-radius: 0.7em;
    padding: 1.3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: -webkit-gradient(linear, left top, right top, from(rgba(158, 157, 157, 0.199)), color-stop(#090910), to(#090910));
    background: linear-gradient(90deg, rgba(158, 157, 157, 0.199), #090910, #090910);
    background-size: 150%;
    background-position: right;
    -webkit-transition: background-position 0.3s;
    transition: background-position 0.3s;
  }
  .hamburger-menu-container .links-container1 .links1:hover, .hamburger-menu-container .links-container1 .links1:focus {
    background-position: left;
  }
  .hamburger-menu-container .links-container1 .menu-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hamburger-menu-container .links-container1 .menu-icons img {
    margin: 6em 1em 0 1em;
    width: 40%;
    height: auto;
  }
  .hamburger-menu-container .links-container1 .menu-icons img:hover, .hamburger-menu-container .links-container1 .menu-icons img:focus {
    background: gray;
  }
  .hamburger-menu-container.open {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-box-shadow: -2em 2em 5em 1em #090910;
            box-shadow: -2em 2em 5em 1em #090910;
  }
  .hamburger-menu-container.open .links-container1 {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

/* section 1 */
.title-container {
  position: relative;
  padding: 3em;
  text-align: center;
  margin-left: 3em;
  margin-right: 3em;
}

.title-container .opening-quote {
  position: relative;
  margin: 1em auto;
  font-family: "Open Sans", sans-serif;
  font-size: clamp();
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(135deg, rgba(77, 95, 207, 0.87), rgba(161, 87, 210, 0.6779), rgba(69, 239, 252, 0.5465), rgba(69, 241, 247, 0.4436), rgba(69, 252, 225, 0));
}

.title-container .sub-quote {
  position: relative;
  margin-top: 0.6em;
  font: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: rgba(236, 228, 228, 0.925);
}

@media (max-width: 1150px) {
  .title-container .sub-quote {
    font-size: 2.3vw;
  }
}

@media (max-width: 750px) {
  .title-container .sub-quote {
    font-size: 1em;
  }
}

@media (max-width: 350px) {
  .title-container .sub-quote {
    font-size: 0.8rem;
  }
}

.title-container .ourWork-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4em;
  padding: 2em;
}

.title-container .ourWork-button #ourWork {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  color: rgba(236, 228, 228, 0.925);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em 2.5em;
  border-radius: 0.5em;
  background: linear-gradient(150deg, #5ec29c, #5ec2ba, #5e79c2, #845ec2, #d65db1, #ff6f91, #ff9671);
  background-size: 300%;
  background-position: left;
  -webkit-transition: background-position 0.7s;
  transition: background-position 0.7s;
}

@media (max-width: 900px) {
  .title-container .ourWork-button #ourWork {
    font-size: 1.4rem;
  }
}

.title-container .ourWork-button #ourWork:hover,
.title-container .ourWork-button #ourWork:focus {
  background-position: right;
}

@media (max-width: 350px) {
  .title-container .ourWork-button {
    margin-top: 1em;
  }
}

.container {
  width: 75vw;
  max-height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
}

.container .glide .glide__track .glide__slides .glide__slide .container-pr {
  margin: 5rem;
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  -ms-grid-columns: 40% 100%;
      grid-template-columns: 40% 100%;
  -ms-grid-rows: 25%, 35%, 20%, 20%;
      grid-template-rows: 25%, 35%, 20%, 20%;
      grid-template-areas: "img title" "img content" "img sign" "img links";
}

.container .glide .glide__track .glide__slides .glide__slide .container-pr .img-pr {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: img;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .glide .glide__track .glide__slides .glide__slide .container-pr .title-pr {
  width: 50%;
  text-align: start;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
  padding: 2rem;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  color: rgba(236, 228, 228, 0.925);
}

.container .glide .glide__track .glide__slides .glide__slide .container-pr .title-pr::after {
  content: "Itis Max Plank";
  display: block;
}

.container .glide .glide__track .glide__slides .glide__slide .container-pr .content-pr {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content;
  padding: 2em;
  width: 40%;
  -webkit-column-break-inside: auto;
          break-inside: auto;
}

.container .glide .glide__track .glide__slides .glide__slide .container-pr .sign-pr {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: sign;
  width: 15%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 2rem;
}

.container .glide .glide__track .glide__slides .glide__slide .container-pr .list-pr {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: links;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

.container .glide .glide__track .glide__slides .glide__slide .container-pr .list-pr .link-pr a {
  color: rgba(236, 228, 228, 0.925);
}

/****************fonts****************/
/*************************************/
/* gradients */
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(236, 228, 228, 0.925);
  border-radius: 0.7em;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

*,
a,
h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

h2,
p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font: "Open Sans", sans-serif;
  font-size: 0.8rem;
  color: rgba(236, 228, 228, 0.925);
}

@media (min-width: 2560px) {
  h2,
  p {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  h2,
  p {
    font-size: 0.8rem;
  }
}

h5 {
  color: white;
  font-family: "Open Sans", sans-serif;
  font: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: rgba(236, 228, 228, 0.925);
}

@media (max-width: 1150px) {
  h5 {
    font-size: 2.3vw;
  }
}

@media (max-width: 750px) {
  h5 {
    font-size: 1em;
  }
}

@media (max-width: 350px) {
  h5 {
    font-size: 0.8rem;
  }
}

body {
  font-size: 20px;
  width: 100vw;
  height: 100vh;
  background-color: #090910;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

body .nm-section {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.95;
  overflow: hidden;
  z-index: -1;
}

body .nm-section:nth-of-type(1) #top-left {
  z-index: 0;
  width: 30rem;
  left: -100px;
  top: -150px;
}

body .nm-section:nth-of-type(2) #title-about {
  left: 0;
  top: 0;
}

body .nm-section:nth-of-type(3) #title-skill {
  left: 0;
  top: 0;
}

body .nm-section:nth-of-type(4) #title-projects {
  left: 0;
  top: 0;
}

body .nm-section:nth-of-type(5) #title-contact {
  left: 0;
  top: 0;
}

.parallax_title {
  position: absolute;
  z-index: 0;
  font-family: "Open Sans", sans-serif;
  color: rgba(236, 228, 228, 0.925);
  opacity: 0.8;
  font-size: 12vw;
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
}

.decorative_circle {
  position: absolute;
}
/*# sourceMappingURL=main.css.map */