    .logo-container{
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;
        width: 10em;
        height: 100%;
        margin-left: 2em;
    }

