// ------@mixin-@functions file------ //

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-spaceBetwen {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin clipBg-ToText {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@mixin medium-text {
    font: $open-Sans;
    font-size: 1.5em;
    color: $background-white;
}

@mixin title-text {
    font-family: $open-Sans;
    font-size: 10rem;
    font-size: 4.5em;
}
