// ------@mixin-@functions file------ //
  
@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-spaceBetwen {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin clipBg-ToText{
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2.5vw;
}