// ------@mixin-@functions file------ //

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-end{
    display: flex;
    align-items: center;
    justify-content: end;
}

@mixin flex-spaceBetwen {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin grid-center {
    display: grid;
    place-items: center;
}

@mixin clipBg-ToText {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@mixin medium-text {
    font: $open-Sans;
    font-size: 1.1rem;
    color: $background-white;
    @media (max-width: 1150px) {
        font-size: 2.3vw;
    }
    @media (max-width: 750px) {
        font-size: 1em;
    }
    @media (max-width: 350px) {
        font-size:0.8rem;
    }
}

@mixin buttonBig-text {
    font-family: $open-Sans;
    font-size: 1.8rem;
    color: $background-white;
    @media (max-width: 900px) {
        font-size: 1.4rem;
    }

}

@mixin small-text {
    font: $open-Sans;
    @media (min-width: 2560px) {
        font-size: 3rem;
    }
    @media (max-width: 768px) {
        font-size: 0.8rem;
    }
    font-size: 0.8rem;
    color: $background-white;
}

@mixin navbar-text {
    font: $open-Sans;
    font-size: 0.9rem;
    color: $background-white;
}

@mixin title-text {
    font-family: $open-Sans;
    font-size: 3.5rem;
    @media (max-width: 1150px) {
        font-size: 4.9vw;
    }
     @media (max-width: 550px) {
        font-size: 1.6rem;
    }
    @media (max-width: 350px) {
        font-size: 1.2rem;
    }
}

@mixin small-title-text {
    font-family: $open-Sans;
    font-size: 2rem;
    color: $background-white;

}
/* gradients */
@mixin king-gradinet {
    background: #1a2a6c; /* fallback for old browsers */
    background-image: -webkit-linear-gradient(45deg, #fdbb2d, #b21f1f, #1a2a6c); /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(
        45deg,
        #fdbb2d,
        #b21f1f,
        #1a2a6c
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin meridian-gradient {
    background: #283c86; /* fallback for old browsers */
    background-image: -webkit-linear-gradient(to left, #45a247, #283c86); /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(
        to left,
        #45a247,
        #283c86
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
