// // // // // // // // // // //
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Lora:ital,wght@1,500&family=Open+Sans:wght@800&display=swap');

// // // // // // // // // // // 
$background-black: hsl(180, 4%, 5%);
$open-Sans: 'Open Sans', sans-serif;
$bals-Sans: 'Balsamiq Sans', cursive;
$lora: 'Lora', serif;