// // // // // // // // // // //
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Lora:ital,wght@1,500&family=Open+Sans:wght@750&display=swap");

// // // // // // // // // // //
$background-black: hsl(240, 26%, 5%);
$background-white: rgba(236, 228, 228, 0.925);
$standard-radius: 1em;
/****************fonts****************/
$open-Sans: "Open Sans", sans-serif;
$bals-Sans: "Balsamiq Sans", cursive;
$lora: "Lora", serif;
/*************************************/
$title-gradiant: linear-gradient(
    135deg,
    rgba(77, 95, 207, 0.87),
    rgba(161, 87, 210, 0.6779),
    rgba(69, 239, 252, 0.5465),
    rgba(69, 241, 247, 0.4436),
    rgba(69, 252, 225, 0)
);

$buttons-gradient: linear-gradient(
    150deg,
    #5ec29c,
    #5ec2ba,
    #5e79c2,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
   
);
