

/* width */


::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $background-white;
  border-radius: $standard-radius;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}