// //////////////////NOT WORKING///////////////

/* width */
::-webkit-scrollbar {
    width: 0.5rem;
  }
  ::-webkit-scrollbar-corner{
      background: transparent;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 1px;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    @include king-gradinet;
    border-radius: 10px;
  }