// //////////////////NOT WORKING///////////////

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $background-white;
  opacity: 0.5;
  border-radius: $standard-radius;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.9;
}
