@import "./variables";
@import "./mixins-functions";
@import "./navbar";

// // // // // // // // //

a {
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
}
h2 {
    font-family: $bals-Sans;
    color: white;
}
p {
    color: white;
    font-family: $open-Sans;
    font-size: 1em;
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: $background-black;
}
section {
    width: 100vw;
    height: 100vh;
    @include flex-center;
    opacity: 0.95;
    scroll-snap-align: center;
}

.container {
    width: 100%;
    height: 100%;
    background-color: $background-black;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    /*
    #{&}__:nth-of-type(2){} 
    indica il secondo figlio (section page2) 
    del parente (container)
    */
    /* section 1 */
    .title-container {
        position: relative;
        width: 80vw;
        height: 60vh;
        margin: 0;
        text-align: center;

        .opening-quote {
            position: relative;
            margin: 0 auto;
            @include title-text;
            @include clipBg-ToText;
            background-image: $title-gradiant;
        }

        .opening-quote::before {
            display: inline;
            position: relative;
            width: 50px;
            height: 50px;
            content: '"';

            @include clipBg-ToText;
            background-image: $title-gradiant;
        }

        .opening-quote::after {
            display: inline;
            position: relative;
            width: 50px;
            height: 50px;
            content: '"';

            @include clipBg-ToText;
            background-image: $title-gradiant;
        }

        .sub-quote {
            position: relative;
            margin-top: 1.3em;
            @include medium-text;
        }

        .ourWork-button {
            position:relative;
            @include flex-center;
            justify-content: center;
            margin-top: 2.3em;
            max-height: 8em;
            height: 20%;
            #ourWork{
                @include flex-center;
                width: 30vw;
                max-width: 20em;
                height: 60%;
                border-radius: 0.5rem;
                background: $buttons-gradient;
                background-size: 300%;
                background-position: left;
                transition: background-position 0.7s;
                font-size: 1.1em;
            }

            #ourWork:hover,#ourWork:focus{
                background-position: right;
            }


        }
    }

   

    /* section 2 */
    .grid-container {
        width: 80%;
        height: 65%;

        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 1fr 0.5fr 1.5fr 0.5fr 1fr;
        grid-template-areas:
            "marco . ."
            "marco title ."
            ". title ."
            ". title lorenzo"
            ". . lorenzo";

        // media query change areas
        .item {
            height: 95%;
            width: 95%;
        }
        .img-container {
            width: 100px;
            .personal-photo {
                width: inherit;
            }
        }
        #marco-box {
            grid-area: marco;
            @include flex-spaceBetwen;
            @include small-text;
            #marco-presentation {
                width: inherit;
            }
        }
        #title-box {
            grid-area: title;
            @include flex-center;
            @include small-title-text;
            @include clipBg-ToText;
            font-family: $open-Sans;
            background-image: $title-gradiant;
            background-position: left;
        }
        #lorenzo-box {
            @include flex-spaceBetwen;
            grid-area: lorenzo;
            @include small-text;
            #lorenzo-presentation {
                width: inherit;
            }
        }
    }
}
