@import "./variables";
@import "./mixins-functions";
@import "./logo";
@import "./navbar" // // // // // // // // //
    a {
    text-decoration: none;
}

h2 {
    font-family: $bals-Sans;
    color: white;
    font-size: 1.7em;
}
p {
    color: white;
    font-size: 1.1em;
    font-family: $open-Sans;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: $background-black;
}

.container {
    width: 100%;
    height: 100%;
    background-color: $background-black;

    .section {
        width: 100vw;
        height: 100vh;
        @include flex-center;
    }

    /*
    #{&}__:nth-of-type(2){} 
    indica il secondo figlio (section page2) 
    del parente (container)
    */
    .title-container {
        position: relative;
        width: 80vw;
        height: 60vh;
        margin: 0;
        text-align: center;

        .opening-quote {
            margin: 0 auto;
            font-family: $open-Sans;
            font-size: 10rem;
            font-size: 4.5em;

            @include clipBg-ToText;
            background-image: $title-gradiant;
            z-index: 1;
        }

        .opening-quote::before {
            display: inline;
            position: relative;
            width: 50px;
            height: 50px;
            content: '"';

            @include clipBg-ToText;
            background-image: $title-gradiant;
        }

        .opening-quote::after {
            display: inline;
            position: relative;
            width: 50px;
            height: 50px;
            content: '"';

            @include clipBg-ToText;
            background-image: $title-gradiant;
        }
    }
}
