@import "./variables";
@import "./mixins-functions";
@import "./navbar";
@import "./webkit-mods";

// // // // // // // // //
// initializing tags //
// // // // // // // // // 
*,
a,
h1,
h2,
h3,
p{
    margin: 0;
}

a{text-decoration: none;}

h2,
p{
    color: white;
    font-family: $open-Sans;
    @include small-text;
}
h5{
    color: white;
    font-family: $open-Sans;
    @include medium-text;
}
// // // // // // // // // 

body {
    width: 100vw;
    height: 100vh;
    background-color: $background-black;
}

.nm-section {
    width: 100%;
    height: 100%;
    @include flex-center;
    opacity: 0.95;
    scroll-snap-align: center;
    // scroll-margin-top: 5vh;
}

.container {
    width: 100%;
    height: 100%;
    background-color: $background-black;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
   
    // // // // // // // // // // // //
    
    
    /* section 1 */
    .title-container {
        position: relative;
        width: 85%;
        height:77%;
        text-align: center;
        margin-left: 3em;
        margin-right: 3em;
        .opening-quote {
            position: relative;
            margin: 1em auto;
            @include title-text;
            @include clipBg-ToText;
            background-image: $title-gradiant;
        }

       /* .opening-quote::before {
            display: inherit;
            position: relative;
            width: 50px;
            height: 50px;
            content: '"';
            @include clipBg-ToText;
            background-image: $title-gradiant;
        }

        .opening-quote::after {
            display: inline;
            position: relative;
            width: 50px;
            height: 50px;
            content: '"';
            right: 0.1em;

            @include clipBg-ToText;
            background-image: $title-gradiant;
        }
        */

        .sub-quote {
            position: relative;
            margin-top: 0.6em;
            @include medium-text;
        }

        .ourWork-button {
            position:relative;
            @include flex-center;
            justify-content: center;
            margin-top: 4em;

            #ourWork{
                @include buttonBig-text;
                @include flex-center;
                height: 2em;
                width: 8.5em;
                border-radius: $standard-radius - 0.2em;
                background: $buttons-gradient;
                background-size: 300%;
                background-position: left;
                transition: background-position 0.7s;
            }

            #ourWork:hover,#ourWork:focus{
                background-position: right;
            }

        }
    }

    /* section 2 */
    #presentation::-webkit-scrollbar {
        // width: 0;
        background: transparent;
    }

    #presentation {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
  
        .pr-section {
            @include flex-center;
            flex: none;
            scroll-snap-align: center;
            width: 100%;
            height: 100%;

            .content-box {
                width: 70%;
                max-height: 60%;
                padding: 2em;
                height: min-content;
                display: grid;
                grid-template-columns: 1.3fr 1fr;
                grid-template-rows: 5rem 2.5fr;
                grid-template-areas:
                    "img title"
                    "img content";

                background-color: $background-black;
                box-shadow: -1.5rem -1.2rem 2rem 0.1rem hsl(0, 0%, 10%), 1.5rem 1.2rem 2rem 0.1rem hsl(0, 0%, 50%);
                border-radius: $standard-radius;

                .img-box {
                    width: 90%;
                    max-height: 60%;
                    position: relative;
                    grid-area: img;
                    @include flex-center;
                    .pr-img{
                        position: absolute;
                        width: 100%;
                        margin-bottom: 10%;
                    }
                }

                .pr-title {
                    margin: 10px;
                    grid-area: title;
                    @include small-title-text;
                    text-align: center;
                }

                .pr-title::after {
                    content: "";
                    display: block;
                    width: 80%;
                    height: 0.3rem;

                    position: relative;
                    margin: 0 auto;

                    background-color: $background-white;
                }
                .pr-content{
                    margin-top: 0;
                    position: relative;
                    width: 100%;
                    max-height: fit-content;
                    @include small-text;
                }
              
            }

            @media (max-width: 450px) {
                .content-box {
                    grid-template-columns: 1fr;
                    grid-template-rows: 2fr 0.5fr 1fr;
                    grid-template-areas:
                        "img"
                        "title"
                        "content";
                }
            }

        }
    }
}